*{
    margin: 0;
    padding: 0;
    color: rgb(75, 126, 197);
    box-sizing: border-box;
}

body{
    background-color: black;
}

.main-heading{
    text-align: center;
    margin: 10px;
    font-size: 60px;
}

.main-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* NAV BAR where the account login/logout, and other details like name and today's tasks are */

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px; /* space between image and list */
    margin-top: 40px;
}

#user-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid green;
    object-fit: cover;
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px; 
    font-size: 20px;
}

a {
    text-decoration: none;
    color: rgb(75, 126, 197);
    transition: color 0.5s ease;
}

a:hover {
    color: rgb(250, 250, 250);
    cursor: pointer;
}

/* Card section about the progress in a summarised way */

.current-records{
    width: 500px;
    height: 200px;
    background-color: #fff;
    text-align: center;
    border-radius: 30px;
}

.current-records:hover{
    transition: all 0.5s ease;
    background-color: rgb(96, 21, 96);
}

.current-records p{
    border-radius: 30px;
    margin: 15px;
    font-size: 20px;
}